:root {
  --text-color: #616161;
  --star-color: #fdd835;
}
.preview * {
  font-family: sans-serif;
  font-size: 15px;
}
.preview {
  width: 598px;
  height: 300px;
  display: flex;
  flex-direction: column;
}
.preview .header {
  height: 20%;
  display: flex;
}
.preview .header .logo {
  width: 15%;
  background: url(./pm-logo.svg) no-repeat center center;
  margin: 0 2%;
}
.preview .header .search {
  width: 25%;
  height: 50%;
  align-self: center;
  border-radius: 50%;
  display: flex;
}
.preview .header .search div {
  background-color: white;
  opacity: 0.4;
}
.preview .header .search .border {
  border-radius: 50% 0 0 50%;
  width: 20%;
}
.preview .header .search .search-field {
  flex-grow: 1;
}
.preview .header .search .border.left {
  border-radius: 50% 0 0 50%;
}
.preview .header .search .border.right {
  border-radius: 0 50% 50% 0;
}
.preview .header .menus {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.preview .header .menus li {
  list-style: none;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.preview .header .menus li .icon:before {
  content: "✻";
}
.preview .content {
  flex-grow: 1;
  display: flex;
}
.preview .content .sidebar {
  width: 20%;
  padding: 3% 3%;
  display: flex;
  flex-direction: column;
}
.preview .content .sidebar .compose-button {
  align-self: center;
  width: 100%;
  height: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  padding: 5px;
}
.preview .content .sidebar .labels {
  padding: 0;
  margin-top: 10%;
}
.preview .content .sidebar .labels li {
  list-style: none;
  margin-top: 8px;
}
.preview .content .sidebar .labels li:before {
  content: "◼ ";
}
.preview .content .main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2%;
}
.preview .content .main .conversations {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}
.preview .content .main .conversations li {
  list-style: none;
  padding: 1.5%;
  border-bottom: 1px solid;
  border-left: 4px solid;
}
.preview .content .main .conversations li .star {
  color: #fdd835;
}
.preview .content .main .conversations li:first-of-type {
  border-top: 1px solid;
}
.preview .content .main .conversations li.unread {
  font-weight: bold;
}
.preview .content .main .conversations li:before {
  content: "▢ ";
}
.preview .content .main .toolbar {
  margin: 0;
  padding: 0;
  display: flex;
  height: 15px;
  margin-bottom: 3%;
}
.preview .content .main .toolbar li {
  margin-right: 1%;
  height: 22px;
  padding: 0;
  list-style: none;
  border: 1px solid;
  width: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--button-text-color);
}
.preview .content .main .toolbar li:before {
  content: "✻";
}
