body section.sidebar ul.menu li a,
body section.sidebar ul.menu li:hover a,
body section.sidebar ul.menu li a i.fa,
body section.sidebar ul.menu li:hover a i.fa,
body section.sidebar ul.menu li a button.fa-repeat,
body section.sidebar ul.menu li:hover button.fa-repeat,
body section.sidebar div.labels ul li a,
body section.sidebar div.labels ul li a:hover {
  font-size: 14px;
  color: var(--dark2) !important;
}
#pm_headerDesktop,
.headerSecured-container,
.storageBar .storageBar-progress {
  background-color: var(--theme1) !important;
}
#pm_main {
  background-color: var(--theme2) !important;
}
#pm_toolbar-desktop,
body #conversation-list-rows,
body #conversation-list-columns,
body #pm_view,
element-view {
  background-color: var(--theme2) !important;
}
#pm_thread,
conversation {
  background-color: var(--theme2) !important;
}
#conversation-view .message .frame,
#conversation-view .message .details {
  background-color: var(--theme3) !important;
}
.headerDesktop-logo {
  background-color: transparent !important;
}
.search-form-fieldset {
  background-color: rgba(255, 255, 255, 0.15) !important;
}
.search-form-fieldset input.query {
  background-color: transparent !important;
}
body section.sidebar .pm_button.compose,
body section.sidebar .sidebar-btn-back {
  background-color: var(--composeButtonBackgroundColor);
  color: #fff !important;
  border-width: 0 !important;
  box-shadow: none;
  margin-top: 20px;
}
body section.sidebar .pm_button.compose:hover,
body section.sidebar .sidebar-btn-back:hover {
  background-color: var(--composeButtonBackgroundColor);
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
  -moz-filter: brightness(1.1);
  -o-filter: brightness(1.1);
  -ms-filter: brightness(1.1);
}
.conversation {
  box-shadow: inset 0 -1px 0 var(--theme4);
  border-bottom-width: 0 !important;
}
#conversation-view header {
  margin: 10px 10px 0;
  border: 1px solid var(--theme4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: var(--theme3);
}
#conversation-view header h1 {
  font-size: 1.2em;
  font-weight: 300;
  padding: 5px;
  color: var(--dark2) !important;
}
#conversation-view header h1 .starButton {
  top: 7px;
}
#pm_composer .composer header {
  background: var(--dark2) !important;
}
#pm_composer .composer header .actions .pm_button:hover {
  background: var(--dark3) !important;
}
.tooltip.top .tooltip-arrow,
.tooltip.top-left .tooltip-arrow,
.tooltip.top-right .tooltip-arrow {
  border-top-color: var(--dark3) !important;
}
.tooltip-inner {
  background-color: var(--dark3) !important;
}
.tooltip.right .tooltip-arrow {
  border-right-color: var(--dark3) !important;
}
.tooltip.left .tooltip-arrow {
  border-left-color: var(--dark3) !important;
}
.tooltip.bottom .tooltip-arrow,
.tooltip.bottom-left .tooltip-arrow,
.tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: var(--dark3) !important;
}
header#pm_header-desktop {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}
body.mobileMode #pm_sidebar section.sidebar ul.menu li button {
  color: var(--dark2) !important;
}
body.mobileMode #pm_sidebar section.sidebar .userDisplay em,
body.mobileMode #pm_sidebar section.sidebar .userDisplay strong {
  color: var(--dark2) !important;
}
body.mobileMode #pm_sidebar section.sidebar .pm_button.round {
  background: var(--red);
  border-color: transparent;
}
.conversation:not(.active) {
  background: var(--theme3) !important;
}
.customCheckbox-input:checked + .customCheckbox-mask {
  background-color: var(--theme5);
  border-color: var(--theme5);
}
.customRadio-input:checked + .customRadio-mask {
  box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 10px var(--theme5);
  border-color: var(--theme5);
}
body #conversation-list-rows .conversation .subject .pm_labels {
  background: var(--theme3) !important;
}
body #conversation-list-rows .conversation .subject .pm_labels label {
  background: var(--theme3) !important;
  box-shadow: none;
}
body section.sidebar ul.menu li a em,
.menuLabel-item.active .menuLabel-title {
  color: var(--dark2) !important;
}
body section.sidebar ul.menu li.active a {
  background-color: transparent !important;
}
.chooseLayoutBtns-container-rows .chooseLayoutBtns-btn-rows,
.chooseLayoutBtns-container:not(.chooseLayoutBtns-container-rows)
  .chooseLayoutBtns-btn-column {
  background: transparent !important;
}
.paginator-disabled-main .paginator-dropdown,
.paginator-disabled-next .paginator-btn-next,
.paginator-disabled-previous .paginator-btn-previous {
  box-shadow: none !important;
  color: var(--dark2) !important;
}
#pm_placeholder {
  color: var(--dark2) !important;
}
.navigation > li.active,
.navigation > li:hover {
  box-shadow: 0 5px 0 0 var(--theme3) inset !important;
}
body #conversation-list-rows .conversation .subject,
.conversation .conversation-meta {
  background: none !important;
}
body #conversation-list-rows .conversation .subject .labelsElement-container {
  top: 2px !important;
  height: calc(100% - 3px) !important;
}
body .cg-notify-message {
  color: var(--dark2) !important;
}
.paginator-dropdown-list {
  padding: 7px;
}
.composerHeader-actions .pm_button,
.composer-meta .pm_button {
  border: none !important;
}
