/*!
*  Custom Theme for ProtonMail v3.5.15
*  --
*  Author: Austin Delamar - http://austindelamar.com
*/
/*!
*  == Credit to these authors as well ==
*
*  Font Awesome 4.5.0 by @davegandy - http://fontawesome.io - @fontawesome
*  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
*
*  Pikaday
*  Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
*/

#exiting {
  background-color: var(--white);
  color: var(--dark2);
}

#exiting .spinner.large .spinner1,
#exiting .spinner.large .spinner2,
#exiting .spinner.large .spinner3 {
  background-color: var(--theme1);
}

.spinner.large .spinner1,
.spinner.large .spinner2,
.spinner.large .spinner3 {
  background-color: var(--white);
}

.spinner1,
.spinner2,
.spinner3 {
  background-color: var(--theme1);
}

.proton-embedded:after {
  background: url(/assets/img/icons/broken-img.png) 5px 50% no-repeat
    var(--white);
  border-color: var(--dark1) var(--medium1) var(--medium1) var(--dark1);
}

html.protonmail body {
  background: var(--theme2);
}

html.protonmail body.blank,
html.protonmail body.secure {
  background: var(--white);
}

html.protonmail .visionary {
  color: var(--white);
}

html.protonmail .plus {
  color: var(--white);
}

html.protonmail .text-gray {
  color: var(--dark2);
}

html.protonmail .text-light-gray {
  color: var(--medium1);
}

html.protonmail .text-green {
  color: var(--green);
}

html.protonmail .text-yellow {
  color: var(--yellow);
}

html.protonmail .text-red {
  color: var(--red);
}

html.protonmail .text-purple {
  color: var(--theme1) !important;
}

html.protonmail .border-panel {
  border: 1px solid var(--theme4);
}

header#pm_header {
  background: var(--theme2);
}

header#pm_header .newBugReport-container,
header#pm_header a {
  color: var(--white);
}

header#pm_header-desktop {
  background: var(--theme5);
}

header#pm_header-desktop a.logo {
  background-color: var(--theme2);
}

header#pm_header-desktop ul.navigation > li:hover {
  box-shadow: 0 5px 0 0 var(--theme1) inset !important;
}

header#pm_header-desktop ul.navigation > li.active {
  box-shadow: 0 5px 0 0 var(--theme1) inset !important;
}

header#pm_header-desktop ul.navigation > li > a {
  color: var(--theme3);
}

header#pm_header-desktop
  ul.navigation
  > li
  .pm_dropdown
  .pm_button.primary:hover {
  color: var(--white) !important;
}

header#pm_header-desktop.no-auth {
  background: var(--theme2);
}

header#pm_header-desktop.no-auth a {
  color: var(--white);
}

header#pm_header-tablet {
  background: var(--theme5);
}

header#pm_header-tablet .compose {
  background-color: var(--theme1);
  color: var(--white);
}

header#pm_header-tablet .compose:hover {
  background-color: var(--theme6);
}

header#pm_header-tablet .compose:active {
  background-color: var(--theme7);
}

header#pm_header-tablet a.logoMobile {
  color: var(--white);
}

header#pm_header-tablet .location {
  color: var(--white);
}

header#pm_header-mobile {
  background: var(--theme5);
}

header#pm_header-mobile a.compose,
header#pm_header-mobile a.compose:hover {
  background: var(--theme5);
}

header#pm_header-mobile a.logoMobile {
  color: var(--white);
}

header#pm_header-mobile .searchBtn,
header#pm_header-mobile a.compose {
  color: var(--white);
}

header#pm_header-mobile .location {
  color: var(--white);
}

#attachmentArea {
  background: var(--white);
  border-top: 1px solid var(--theme4);
}

#attachmentArea header .embedded {
  color: var(--theme1);
}

body section.sidebar {
  background: var(--theme2);
}

body section.sidebar ul.menu li a:hover {
  color: var(--white);
}

body section.sidebar ul.menu li a .fa-repeat:hover {
  color: var(--white);
}

body section.sidebar ul.menu li.active a {
  color: var(--white);
}

body section.sidebar ul.menu li.active a i.fa {
  color: var(--theme6);
}

body section.sidebar div.labels ul li.active a {
  color: var(--white);
}

body section.sidebar div.labels ul li a:hover {
  color: var(--white);
}

body section.sidebar div.footer div.link a {
  color: var(--theme1);
}

body section.sidebar div.footer div.link a:hover {
  color: var(--white);
}

body section.sidebar div.footer div.storage strong {
  color: var(--theme1);
}

body section.sidebar div.footer a.upgrade {
  color: var(--theme1);
}

body section.sidebar div.footer .bar em {
  background-color: var(--theme1);
}

body section.sidebar a.version {
  color: var(--theme5);
}

body section.sidebar a.version:hover {
  color: var(--white);
}

body.mobileMode #pm_sidebar section.sidebar {
  background: var(--theme2);
}

body.mobileMode #pm_sidebar section.sidebar .pm_button.round .fa {
  color: var(--white);
}

body.mobileMode #pm_sidebar section.sidebar .userDisplay em,
body.mobileMode #pm_sidebar section.sidebar .userDisplay strong {
  color: var(--white);
}

body.mobileMode #pm_sidebar section.sidebar ul.menu li button {
  color: var(--white);
}

.pm_toolbar {
  box-shadow: inset 0 -1px 0 var(--theme4) !important;
}

#conversation-view .fa-star {
  color: var(--yellow);
}

#conversation-view header {
  border-bottom: 1px solid var(--theme4);
}

#conversation-view header h1 {
  color: var(--dark0);
}

#conversation-view .message {
  border: 1px solid var(--theme4) !important;
}

#conversation-view .message .contact a.compose {
  color: var(--theme1);
}

#conversation-view .message.marked .details,
#conversation-view .message.marked .summary {
  box-shadow: inset 5px 0 0 var(--theme1);
}

#conversation-view .message.details.open .labelz .pm_labels label {
  box-shadow: 0.25rem 0 0 0.25rem var(--theme3);
}

#conversation-view .message.unread > div.summary {
  background: var(--white);
}

#conversation-view .message.unread > div.summary .labels,
#conversation-view .message.unread > div.summary .status,
#conversation-view .message.unread > div.summary .time,
#conversation-view .message.unread > div.summary .time::after {
  background: var(--white) !important;
}

#conversation-view .message.unread > div.summary .labels .pm_labels label {
  box-shadow: 0.25rem 0 0 0.25rem var(--white);
}

#conversation-view .message > div.summary {
  background: var(--theme3);
}

#conversation-view .message > div.summary .labels,
#conversation-view .message > div.summary .status,
#conversation-view .message > div.summary .time {
  background: var(--theme3);
}

#conversation-view .message > div.summary .time::after {
  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0,
    var(--theme3) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0,
    var(--theme3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    var(--theme3) 100%
  );
}

#conversation-view .message > div.summary .meta .contact span {
  color: var(--medium2);
}

#conversation-view .message > div.summary .labels .pm_labels label {
  box-shadow: 0.25rem 0 0 0.25rem var(--theme3);
}

#conversation-view .message > div.details {
  background: var(--theme3);
}

#conversation-view .message > div.details .pm_buttons a {
  background: var(--white);
}

#conversation-view .message > div.details .recipients-details .from,
#conversation-view .message > div.details .recipients-details .where {
  color: var(--medium2);
}

#conversation-view .message > div.details .recipients-details .contact em {
  color: var(--medium2);
}

#conversation-view .message > div.details .recipients-summary strong {
  color: var(--medium2);
}

#conversation-view .message > div.details .recipients-summary .from {
  color: var(--medium2);
}

#conversation-view .message .toggleDetails {
  color: var(--theme1) !important;
}

#conversation-view .message .expiration {
  background: var(--redLight);
  color: var(--white);
}

#conversation-view .message .showImages {
  background: var(--theme3);
  color: var(--theme1);
  border-top: 1px solid var(--theme4);
}

#conversation-view .message .frame {
  border-top: 1px solid var(--theme4) !important;
}

#conversation-view .message .frame .email .pm_button.more {
  background: var(--theme3);
}

body.mobileMode #conversation-view .message > div.summary .time {
  background: var(--theme3);
}

body#eo-unlock,
body#login-unlock,
body#reset {
  background: var(--theme2);
}

body.mobileMode
  #conversation-view
  .message.details
  > div.summary
  .meta
  .contact
  em {
  color: var(--medium2);
}

#pm_placeholder {
  color: var(--dark4);
}

#nothingToSeeHere .fa {
  color: var(--theme4);
}

#nothingToSeeHere span {
  color: var(--theme4);
}

#nothingToSeeHere h3 {
  color: var(--theme4);
}

#pm_conversations .meta .fa-star-o,
#pm_conversations .meta .singleStar,
#pm_conversations article > header .fa-lock,
#pm_conversations article > header .fa-paperclip,
#pm_conversations header .loc,
#pm_rows .meta .fa-star-o,
#pm_rows .meta .singleStar,
#pm_rows article > header .fa-lock,
#pm_rows article > header .fa-paperclip,
#pm_rows header .loc {
  color: var(--theme4);
}

body#reset .alert {
  color: var(--black);
}

#pm_footer {
  color: var(--white);
}

#pm_footer a {
  color: var(--white);
}

#pm_footer a:hover {
  color: var(--light1);
}

#pm_footer.static {
  color: var(--dark2);
}

#pm_footer.static a {
  color: var(--dark2);
}

#pm_footer.static a:hover {
  color: var(--black);
}

#pm_composer .composer {
  background: var(--white);
}

#pm_composer .composer .meta input {
  background: var(--white);
}

#pm_composer .composer .fill {
  color: var(--black);
}

#pm_composer .composer .askEmbedding {
  background: var(--light3);
  color: var(--theme2);
}

#pm_composer .composer .attachmentBar i.embedded,
#pm_composer .composer .options .fa {
  color: var(--theme1);
}

#pm_composer .composer .askEmbedding ul {
  background: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

#pm_composer .composer .options {
  background: var(--light2);
}

#pm_composer .composer .options footer {
  background: var(--light2);
}

#pm_composer .composer .attachmentBar {
  border-top: 1px solid var(--theme4);
  background: var(--theme3);
}

#pm_composer .composer .previews {
  background: var(--theme3);
}

#pm_composer .composer .previews .preview-close {
  color: var(--dark2);
}

#pm_composer .composer .previews .attachment .fa.embedded {
  color: var(--theme1);
}

#pm_composer .composer .previews .pm_button {
  background: var(--white);
}

#pm_composer .composer.attachmentsOpen .attachmentBar {
  box-shadow: 0 1px 0 var(--theme4);
}

#pm_composer .composer.attachmentsOpen .attachmentArea .pm_button {
  color: var(--dark2);
}

#pm_composer .composer.attachmentsOpen .attachmentArea .pm_button.uploading {
  background: var(--medium1);
}

#pm_composer .composer header {
  background: var(--theme2);
  color: var(--white);
}

#pm_composer .composer header .actions .pm_button {
  color: var(--theme3);
}

#pm_composer .composer .row {
  border-bottom: 1px solid var(--theme4);
}

#pm_composer .composer .row.placeholder div {
  color: var(--dark4);
}

#pm_composer .composer input,
#pm_composer .composer select {
  color: var(--dark0);
}

#pm_composer .composer .meta {
  color: var(--medium1);
}

#pm_composer .composer footer {
  background: var(--theme3);
  border-top: 1px solid var(--theme4);
}

#pm_composer .composer footer .pm_button {
  background: var(--white);
}

#pm_composer .composer footer .pm_button.primary {
  background: var(--theme1) !important;
}

#pm_composer .composer footer .pm_button.disabled {
  background: var(--black);
}

#pm_composer .composer ::-webkit-input-placeholder {
  color: var(--medium1);
}

#pm_composer .composer :-moz-placeholder {
  color: var(--medium1);
}

#pm_composer .composer ::-moz-placeholder {
  color: var(--medium1);
}

#pm_composer .composer :-ms-input-placeholder {
  color: var(--medium1);
}

.squireToolbar-container {
  border: 1px solid var(--theme4);
  background-color: var(--theme3);
}

[class*='squireToolbar-action-'] + .squireToolbar-separator {
  border-left: 1px solid var(--theme4);
}

.squire-popover {
  background: var(--white);
  border: 1px solid var(--theme4);
}

.squire-popover input {
  border: 1px solid var(--theme3);
  color: var(--dark4);
}

.squire-popover button {
  border: 1px solid var(--theme1);
  background-color: var(--theme1);
  color: var(--white);
}

#pm_settings .well {
  border: 1px solid var(--theme4);
}

#pm_settings .usage .total,
#pm_settings .usage .used {
  color: var(--medium1);
  background: var(--white);
}

#pm_settings .usage .bar {
  background: var(--light4);
}

#pm_settings .usage .bar .amount {
  background: var(--theme1);
}

#pm_settings .pm_tabs {
  background: var(--theme5);
}

#pm_settings .pm_tabs li a.pm_button {
  border-color: var(--theme5);
  color: var(--dark3);
  border-bottom: 1px solid var(--theme5);
}

#pm_settings .pm_tabs li.active a.pm_button {
  background: var(--white);
  color: var(--theme1);
  border-bottom-color: var(--white);
}

#pm_settings .settings .angular-squire-wrapper {
  border: 1px solid var(--theme4);
}

#pm_settings .settings #keys-addressTable td .fa-times-circle {
  color: var(--red);
}

#pm_settings .settings #keys-addressTable td .fa-check {
  color: var(--dark2);
}

#pm_settings .settings .row .border-bottom {
  border-bottom: 1px solid var(--theme4);
}

#pm_settings .settings .row .setting .as-sortable-placeholder {
  background: var(--theme4) !important;
}

#pm_settings .settings .row .setting .as-sortable-dragging {
  border: 1px solid var(--theme4);
  background: var(--white);
}

#pm_settings .settings .row .setting .as-sortable-dragging .fa-check {
  background: var(--white);
  color: var(--theme1);
}

#pm_settings .settings .row .setting .angular-squire-wrapper iframe {
  border: 1px solid var(--theme4);
}

body.mobileMode #pm_settings .settings .pm_sort ul {
  border-right: 1rem solid var(--theme4);
}

body.mobileMode #pm_settings .pm_tabs {
  background: var(--white);
}

body.mobileMode #pm_settings .pm_tabs > li > a.pm_button {
  color: var(--dark3);
  border: 1px solid var(--theme4);
}

body.mobileMode #pm_settings .pm_tabs > li > a.pm_button:hover {
  background-color: var(--light2);
}

body.mobileMode #pm_settings .pm_tabs > li > a.pm_button:active,
body.mobileMode #pm_settings .pm_tabs > li > a.pm_button:focus {
  background-color: var(--theme4);
}

body.mobileMode #pm_settings .pm_tabs > li.active > a.pm_button {
  background-color: var(--theme1);
  border-color: var(--theme1);
  color: var(--white);
}

body.mobileMode #pm_settings .pm_tabs > li.active > a.pm_button:hover {
  background-color: var(--theme6);
  border-color: var(--theme6);
}

body.mobileMode #pm_settings .pm_tabs > li.active > a.pm_button:active,
body.mobileMode #pm_settings .pm_tabs > li.active > a.pm_button:focus {
  background-color: var(--theme7);
  border-color: var(--theme7);
}

body.mobileMode #pm_settings .settings table.pm_table tr {
  border: 1px solid var(--theme4);
}

body.mobileMode #pm_settings .settings table.pm_table tr td {
  border-bottom: 1px solid var(--theme4);
}

#paymentsModal .disabled input,
#paymentsModal .disabled select {
  background-color: var(--theme3);
}

body.mobileMode #invoicesList li {
  border: 1px solid var(--theme4);
}

body.mobileMode #invoicesList li p {
  border-bottom: 1px solid var(--theme4);
}

body.mobileMode #invoicesList li p.title {
  background: var(--theme3);
}

#login-setup #pm_footer {
  color: var(--dark2);
}

#login-setup #pm_footer a {
  color: var(--dark2);
}

#login-setup #pm_footer a:hover {
  color: var(--black);
}

#login-setup .spinner.large .spinner1,
#login-setup .spinner.large .spinner2,
#login-setup .spinner.large .spinner3 {
  background-color: var(--theme1);
}

#login-setup .wrapper label em.num {
  background-color: var(--light4);
}

#login-setup .wrapper label span {
  color: var(--dark4);
}

#signup .spinner.large .spinner1,
#signup .spinner.large .spinner2,
#signup .spinner.large .spinner3 {
  background-color: var(--theme1);
}

#signup .titleLabel em.num {
  background-color: var(--light4);
}

#signup .titleLabel span {
  color: var(--dark4);
}

.ua-ie #pm_composer .composer {
  border: 1px solid var(--theme4);
}

html.protonmail body.light {
  background-color: var(--light4);
}

body#eo-message,
body#eo-reply {
  background: var(--theme2);
}

body#eo-reply ul.infos {
  color: var(--dark1);
}

body#eo-reply ul.infos b,
body#eo-reply ul.infos em {
  color: var(--theme1);
}

body#eo-reply #message-body .squire-toolbar {
  border-top: 1px solid var(--theme4);
  border-bottom: 1px solid var(--theme4);
}

body#eo-reply footer {
  border-top: 1px solid var(--theme4);
}

.outside #expirationMessage {
  background-color: var(--redLight);
  color: var(--white);
}

.outside #outsideMessageWrap {
  background-color: var(--white);
}

.outside #attachmentArea {
  border-top: 1px solid var(--theme4);
}

.outside .display-embedded,
.outside .display-image {
  background: var(--white);
  border: 1px solid var(--theme4);
}

.outside .display-embedded a,
.outside .display-image a {
  color: var(--theme1);
  background-color: var(--white) !important;
}

.outside .display-embedded:hover,
.outside .display-image:hover {
  background: var(--white);
}

.outside .message-metadata {
  border-bottom: 1px solid var(--theme4);
}

.outside .message-metadata ul.infos li strong,
.outside .message-metadata ul.infos strong {
  color: var(--dark2);
}

.outside .message-metadata ul.infos b,
.outside .message-metadata ul.infos li b {
  color: var(--theme1);
}

body.mobileMode body#eo-reply #message-body iframe {
  background: var(--white);
}

body {
  color: var(--dark2);
}

code {
  color: var(--black);
}

p a {
  color: var(--theme1);
}

hr {
  box-shadow: inset 0 1px 0 var(--theme4), inset 0 -1px 0 var(--theme4);
}

kbd {
  color: var(--dark4);
  background-color: var(--light4);
  -webkit-box-shadow: 0 0 0 var(--theme4), inset 0 0 0 1px var(--theme4);
  box-shadow: 0 0 0 var(--theme4), inset 0 0 0 1px var(--theme4);
}

body .pm_form textarea[readonly],
pre {
  background: var(--light4);
  border: 1px solid var(--theme4);
  color: var(--dark0);
}

#eo-message .email img.pm_broken,
#eo-reply iframe img.pm_broken,
.message .frame > .email img.pm_broken {
  background-color: var(--medium1);
}

#eo-message .email blockquote,
#eo-reply iframe blockquote,
.message .frame > .email blockquote {
  border-left: 4px solid var(--light1) !important;
}

.tooltip.top .tooltip-arrow,
.tooltip.top-left .tooltip-arrow,
.tooltip.top-right .tooltip-arrow {
  border-top-color: var(--theme2);
}

.tooltip-inner {
  color: var(--white);
  background-color: var(--theme2);
}

.tooltip.right .tooltip-arrow {
  border-right-color: var(--theme2);
}

.tooltip.left .tooltip-arrow {
  border-left-color: var(--theme2);
}

.tooltip.bottom .tooltip-arrow,
.tooltip.bottom-left .tooltip-arrow,
.tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: var(--theme2);
}

.alert {
  background: var(--light1);
}

.alert a {
  color: var(--theme1);
}

.alert.alert-danger a,
.alert.alert-info a,
.alert.alert-success a,
.alert.alert-warning a {
  color: var(--black);
}

.alert.alert-info {
  background: var(--theme3) !important;
}

.alert.alert-success {
  background: var(--green) !important;
}

.alert.alert-danger {
  background: var(--redLight) !important;
}

.alert.alert-warning {
  background: var(--yellowLight) !important;
}

.alert .pm_button {
  background: var(--white) !important;
}

.alert .pm_select,
.alert input[type='text'],
.alert input[type='number'],
.alert input[type='password'],
.alert input[type='email'],
.alert input[type='search'],
.alert textarea {
  background: var(--white) !important;
}

.labelDropdown .pm_button.link {
  color: var(--theme1);
}

.labelDropdown .alsoArchive {
  border-top: 1px solid var(--theme4);
  border-bottom: 1px solid var(--theme4);
}

.labelDropdown .labelSearch .fa {
  color: var(--theme1);
}

.labelDropdown .labelSearch input {
  border-bottom: 1px solid var(--theme4);
}

form.searchForm {
  color: var(--white);
}

form.searchForm fieldset {
  background: var(--theme4);
  color: var(--white);
}

form.searchForm fieldset button[type='button'] {
  color: var(--white);
}

form.searchForm fieldset button[type='button']:hover {
  background: var(--theme5);
}

form.searchForm fieldset #closeAdvSearch,
form.searchForm fieldset button[type='submit'] {
  color: var(--white);
}

form.searchForm fieldset input.query {
  background: var(--theme4);
  color: var(--white);
}

form.searchForm #advancedSearchDropdown label {
  color: var(--dark2);
}

form.searchForm #advancedSearchDropdown .wrap {
  background: var(--white);
}

body.mobileMode form.searchForm #advancedSearchDropdown .wrap {
  border-bottom: 1px solid var(--theme4);
}

#advancedSearchModal .date em {
  color: var(--medium1);
}

body .is-selected .pika-button {
  background: var(--theme1);
  color: var(--white) !important;
}

body .is-today .pika-button {
  color: var(--theme1);
}

#labelModal ul.palette li a .fa {
  color: var(--white);
}

body .cg-notify-message {
  background: var(--theme2);
  color: var(--white) !important;
}

body .cg-notify-message.notification-success {
  background-color: var(--green);
}

body .cg-notify-message.notification-warning {
  background-color: var(--yellowLight);
}

body .cg-notify-message.notification-danger {
  background-color: var(--red);
}

body .cg-notify-message.notification-info {
  background-color: var(--blueLight);
}

#pm_latest header {
  color: var(--dark0);
  border-bottom: 1px solid var(--theme4);
}

#pm_latest #storageStatus .wrap span {
  color: var(--dark2);
}

#pm_latest #storageStatus .wrap span strong {
  color: var(--theme1);
}

#pm_latest section {
  border: 1px solid var(--theme4);
}

#pm_latest .storageArea div.storage {
  color: var(--medium1);
}

#pm_latest .storageArea div.storage strong {
  color: var(--theme1);
}

#pm_latest .storageArea .bar {
  background-color: var(--theme4);
}

#pm_latest .storageArea .bar em {
  background-color: var(--theme1);
}

.autocompleteEmails-container {
  color: var(--dark2);
}

.autocompleteEmails-item {
  border: 1px solid var(--medium1);
  background-color: var(--theme3);
}

.autocompleteEmails-item-invalid {
  border-color: var(--red);
  color: var(--red);
}

.autocompleteEmails-field .awesomplete ul {
  border: 1px solid var(--theme4);
  background-color: var(--white);
}

.autocompleteEmails-field .awesomplete li[aria-selected='true'],
.autocompleteEmails-field .awesomplete li[aria-selected='true']:hover {
  background-color: var(--medium1);
}

.autocompleteEmails-field .awesomplete li:hover {
  background-color: var(--light4);
}

.autocompleteEmails-field .awesomplete li,
.autocompleteEmails-field .awesomplete li:hover,
.autocompleteEmails-field .awesomplete li[aria-selected='true'],
.autocompleteEmails-field .awesomplete li[aria-selected='true']:hover {
  color: var(--dark2);
}

.autocompleteEmails-btn-remove:active,
.autocompleteEmails-btn-remove:focus {
  color: var(--theme5);
}

.monetize .modal-dialog .modal-content .upsell h4 {
  color: var(--theme1);
}

.monetize .modal-dialog .modal-content .upsell ul {
  color: var(--white);
}

#pm_settings .bar em {
  background-color: var(--theme1);
}

#pm_settings .donate .well {
  box-shadow: inset 0 0 3rem var(--light1);
}

#plans .plans .plan header {
  background: var(--theme2);
  color: var(--white);
}

#plans .plans .plan h3 {
  background: var(--theme1);
  color: var(--white);
}

#plans .plans .plan.plus-plan footer,
#plans .plans .plan.plus-plan header {
  background: var(--white);
}

#plans .plans .plan section {
  border: 1px solid var(--theme4);
}

#plans .plans .plan section ul li {
  border-bottom: 1px solid var(--theme4);
}

#plans .plans .plan section ul li.disabled {
  color: var(--medium2);
}

#plans .plans .plan footer {
  border: 1px solid var(--theme4);
}

#plans .plans .plan footer .cycle {
  border-bottom: 1px solid var(--theme4);
  color: var(--medium2);
}

#plans .plans .plan footer .cycle .discount {
  border: var(--green) transparent transparent;
  color: var(--white);
}

#plans .plans .plan footer .cycle label {
  color: var(--dark4);
}

#plans .plans .plan footer .cycle strong {
  color: var(--theme1);
}

#plans .plans .plan.plus-plan h3 span {
  color: var(--white);
}

#plans .plans .plan.visionary-plan h3 span,
#plans .plans .plan.visionary-plan header {
  color: var(--white);
}

.intl-tel-input .selected-flag .iti-arrow {
  border-top: 4px solid var(--dark2);
}

.intl-tel-input .selected-flag .iti-arrow.up {
  border-bottom: 4px solid var(--dark2);
}

.intl-tel-input .country-list {
  background-color: var(--white);
  border: 1px solid var(--medium1);
}

.intl-tel-input .country-list .divider {
  border-bottom: 1px solid var(--medium1);
}

.intl-tel-input .country-list .country .dial-code {
  color: var(--medium2);
}

.iti-flag {
  background-color: var(--medium1);
}

.pm_form .cardPanel {
  background: var(--theme1);
  color: var(--white);
}

.pm_form .cardPanel.issuer-mastercard {
  background: var(--black);
}

.paginator-disabled-main .paginator-dropdown,
.paginator-disabled-next .paginator-btn-next,
.paginator-disabled-previous .paginator-btn-previous {
  color: var(--theme4);
  box-shadow: inset 0 0 50rem 0 var(--light1);
}

.popover {
  background-color: var(--white);
}

.popover-title {
  background-color: var(--theme3);
  border-bottom: var(--theme4);
}

.popover.top > .arrow {
  border-top-color: var(--theme4);
}

.popover.top > .arrow:after {
  border-top-color: var(--white);
}

.popover.right > .arrow {
  border-right-color: var(--theme4);
}

.popover.right > .arrow:after {
  border-right-color: var(--white);
}

.popover.bottom > .arrow {
  border-bottom-color: var(--theme4);
}

.popover.bottom > .arrow:after {
  border-bottom-color: var(--white);
}

.popover.left > .arrow {
  border-left-color: var(--theme4);
}

.popover.left > .arrow:after {
  border-left-color: var(--white);
}

.composerAttachments-container {
  background: var(--theme3);
}

.composerAttachments-loaders {
  border-top: 1px solid var(--theme4);
}

.composerAskEmbdded-details {
  background: var(--white);
}

.composerInputMeta-overlay {
  background: var(--white);
  color: var(--dark0);
}

.composerInputMeta-overlay-label {
  color: var(--medium1);
}

.progressLoader-container.pm_button {
  background: var(--white) !important;
}

[class*='listAttachments-icon'].embedded {
  color: var(--theme1);
}

.listAttachments-list .listAttachments-att {
  color: var(--dark2);
  background: var(--light4);
}

.listAttachments-list .listAttachments-att:after {
  border-right: 1px solid var(--theme4);
}

.squire-dropzone {
  background: var(--white);
}

.conversation .expiration,
body #conversation-list-rows .conversation .expiration {
  border: var(--redLight) transparent transparent;
}

.conversation .row .meta .fa-star-o {
  color: var(--medium1);
}

.conversation .row .meta .fa-star {
  color: var(--yellow);
}

.conversation .row .pm_labels label {
  background: var(--white);
}

.conversation.read {
  background: var(--theme3);
}

.conversation .row h4 {
  color: var(--black);
}
.conversation.read h4 {
  color: var(--dark2);
  font-weight: 400;
}

.conversation.read .pm_labels label {
  box-shadow: 0.25rem 0 0 0.25rem var(--theme3);
  background: var(--theme3);
}

.conversation.marked::before {
  background-color: var(--theme1) !important;
}

.conversation.active {
  background: var(--theme5);
  color: var(--white);
}

.conversation.active h4 {
  color: var(--white);
}

.conversation.active .pm_labels label {
  background: var(--theme5);
  box-shadow: 0.25rem 0 0 0.25rem var(--theme5);
}

body #conversation-list-rows .conversation {
  box-shadow: inset 0 -1px 0 var(--theme4);
}

body #conversation-list-rows .conversation .expiration {
  color: var(--white);
}

body #conversation-list-rows .conversation .fa-star-o {
  color: var(--medium1);
}

body #conversation-list-rows .conversation .fa-star {
  color: var(--yellow) !important;
}

body #conversation-list-rows .conversation .subject h4 {
  color: var(--black);
}

body #conversation-list-rows .conversation .subject .pm_labels {
  background: var(--white);
}

body #conversation-list-rows .conversation .subject .pm_labels label {
  background: var(--white);
}

body #conversation-list-rows .conversation.read,
body #conversation-list-rows .conversation.read .subject .pm_labels,
body #conversation-list-rows .conversation.read .subject .pm_labels label {
  background: var(--theme3);
}

body #conversation-list-rows .conversation.read .subject h4 {
  color: var(--dark2);
}

.pm_button {
  color: var(--dark3) !important;
  border: 1px solid var(--theme4) !important;
}

.pm_button:hover {
  background-color: var(--light2);
}

.pm_button:active,
.pm_button:focus {
  background-color: var(--theme4);
}

.pm_button.primary {
  background-color: var(--theme1) !important;
  border-color: var(--theme1) !important;
  color: var(--white) !important;
}

.pm_button.primary:hover {
  background-color: var(--theme6) !important;
  border-color: var(--theme6) !important;
}

.pm_button.primary:active,
.pm_button.primary:focus {
  background-color: var(--theme7) !important;
  border-color: var(--theme7) !important;
}

.pm_button.primary.disabled,
.pm_button.primary[disabled] {
  background: var(--theme6) !important;
}

.pm_button.link {
  color: var(--theme1);
}

.pm_button.round {
  border: 1px solid var(--theme4);
}

.pm_button.round .fa {
  color: var(--theme1);
}

.pm_button.round:hover {
  background-color: var(--light2);
}

.pm_button.round:active,
.pm_button.round:focus {
  background-color: var(--light4);
}

.pm_button.success {
  background-color: var(--green);
  border-color: var(--greenLight);
  color: var(--white);
}

.pm_button.success:hover {
  background-color: var(--greenLight);
  border-color: var(--greenLight);
}

.pm_button.success.disabled,
.pm_button.success[disabled] {
  background: var(--greenLight);
}

.pm_button.error {
  background-color: var(--red);
  border-color: var(--redLight);
  color: var(--white);
}

.pm_button.error:hover {
  background-color: var(--redLight);
  border-color: var(--redLight);
}

.pm_button.error.disabled,
.pm_button.error[disabled] {
  background: var(--redLight);
}

.pm_buttons {
  border: 1px solid var(--theme4) !important;
}

.pm_buttons .pm_buttons {
  border: none !important;
}

.pm_buttons > * {
  border-left: 1px solid var(--theme4) !important;
}

.pm_buttons :first-child {
  border-left: none !important;
}

.pm_buttons.disabled {
  border: 1px solid var(--light2);
}

.pm_buttons .disabled,
.pm_buttons [disabled] {
  color: var(--theme4);
  box-shadow: inset 0 0 50rem 0 var(--light2);
}

.pm_buttons .pm_buttons:not(:first-of-type),
.pm_buttons > * {
  border-left: 1px solid var(--theme4);
}

.pm_buttons a {
  color: var(--dark3);
}

.pm_buttons a:hover {
  background-color: var(--light4);
  color: var(--dark4);
}

.pm_buttons a.active,
.pm_buttons a:active {
  background: var(--light1);
}

.pm_buttons.primary a {
  background-color: var(--theme1);
  border-color: var(--theme1);
  color: var(--white);
}

.pm_buttons.primary a:hover {
  background-color: var(--theme6);
  border-color: var(--theme6);
}

.pm_buttons.primary a:active,
.pm_buttons.primary a:focus {
  background-color: var(--theme7);
  border-color: var(--theme7);
}

body.mobileMode #body #pm_main .fa-check-square,
body.mobileMode #body #pm_main .fa-square-o {
  color: var(--theme5);
}

.pm_dropdown {
  background: var(--white);
  border: 1px solid var(--theme4);
}

.pm_dropdown > a,
.pm_dropdown > button,
.pm_dropdown > ul > li {
  border-bottom: 1px solid var(--theme4);
}

.pm_dropdown > a:hover,
.pm_dropdown > button:hover,
.pm_dropdown > ul > li:hover {
  color: var(--dark0) !important;
}

.pm_labels.inline label .close {
  color: var(--dark2);
}

.pm_labels label {
  color: var(--dark4);
}

.pm_modal .angular-squire-wrapper {
  border: 1px solid var(--theme4);
}

.pm_modal.domains .modal-dialog .modal-content .modal-body {
  box-shadow: inset 0 1px 0 var(--theme4), inset 0 -1px 0 var(--theme4);
}

.pm_modal .modal-dialog {
  background: var(--white);
  border: 5px solid var(--theme1);
}

.pm_modal .modal-dialog .close {
  color: var(--white);
  background: var(--theme1);
}

.pm_modal .modal-dialog .modal-content {
  background: var(--white);
}

.pm_modal .modal-dialog .modal-content .modal-body {
  box-shadow: inset 0 1px 0 var(--theme4), inset 0 -1px 0 var(--theme4);
}

.pm_modal .modal-dialog .modal-footer {
  background-color: var(--white);
}

.pm_modal .modal-dialog .modal-content h1,
.pm_modal .modal-dialog .modal-content h2,
.pm_modal .modal-dialog .modal-content h3,
.pm_modal .modal-dialog .modal-content h4 {
  color: var(--dark4);
}

.pm_modal .modal-dialog .modal-content h1 em,
.pm_modal .modal-dialog .modal-content h2 em,
.pm_modal .modal-dialog .modal-content h3 em,
.pm_modal .modal-dialog .modal-content h4 em {
  color: var(--medium1);
}

body.mobileMode .pm_modal .modal-dialog {
  background: var(--white);
}

body.mobileMode .pm_modal .modal-dialog .close {
  color: var(--dark2);
}

.pm_form legend {
  border-bottom: 1px solid var(--theme4);
}

.pm_form legend .small {
  color: var(--dark2);
}

.pm_form legend .small a {
  color: var(--theme1);
}

.pm_form ::-webkit-input-placeholder {
  color: var(--theme4);
}

.pm_form :-moz-placeholder {
  color: var(--theme4);
}

.pm_form ::-moz-placeholder {
  color: var(--theme4);
}

.pm_form input:-ms-input-placeholder {
  color: var(--theme4);
}

.pm_form ::-ms-input-placeholder {
  color: var(--theme4);
}

.pm_form :-ms-input-placeholder {
  color: var(--theme4);
}

.pm_form .pm_select {
  box-shadow: inset 0 0 0 1px var(--theme4), 0 1px 2px rgba(0, 0, 0, 0.1);
}

.pm_form .pm_select .fa {
  color: var(--dark4);
}

.pm_form select {
  background: var(--white);
}

.pm_form .input-icon .fa {
  color: var(--medium1);
}

.pm_form input[type='text'],
.pm_form input[type='number'],
.pm_form input[type='password'],
.pm_form input[type='email'],
.pm_form input[type='search'],
.pm_form input[type='tel'] {
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.15);
  background: var(--light2);
}

.pm_form select:active,
.pm_form select:focus {
  box-shadow: inset 0 0 0 1px var(--theme1);
}

.pm_form input[type='text'],
.pm_form input[type='number'],
.pm_form input[type='password'],
.pm_form input[type='email'],
.pm_form input[type='search'],
.pm_form input[type='tel'],
.pm_form select,
.pm_form textarea {
  border: 1px solid var(--theme4);
  color: var(--dark4);
}

.pm_form input[type='text'].ng-invalid.ng-touched,
.pm_form input[type='number'].ng-invalid.ng-touched,
.pm_form input[type='password'].ng-invalid.ng-touched,
.pm_form input[type='email'].ng-invalid.ng-touched,
.pm_form input[type='search'].ng-invalid.ng-touched,
.pm_form input[type='tel'].ng-invalid.ng-touched,
.pm_form select.ng-invalid.ng-touched,
.pm_form textarea.ng-invalid.ng-touched {
  border-color: var(--red);
}

.pm_form input[type='text']:hover,
.pm_form input[type='number']:hover,
.pm_form input[type='password']:hover,
.pm_form input[type='email']:hover,
.pm_form input[type='search']:hover,
.pm_form input[type='tel']:hover,
.pm_form select:hover,
.pm_form textarea:hover {
  border-color: var(--theme4);
}

.pm_form input[type='text']:focus,
.pm_form input[type='number']:focus,
.pm_form input[type='password']:focus,
.pm_form input[type='email']:focus,
.pm_form input[type='search']:focus,
.pm_form input[type='tel']:focus,
.pm_form select:focus,
.pm_form textarea:focus {
  color: var(--black);
  border-color: var(--theme1);
}

.pm_form input[type='text'].disabled,
.pm_form input[type='text'][disabled],
.pm_form input[type='number'].disabled,
.pm_form input[type='number'][disabled],
.pm_form input[type='password'].disabled,
.pm_form input[type='password'][disabled],
.pm_form input[type='email'].disabled,
.pm_form input[type='email'][disabled],
.pm_form input[type='search'].disabled,
.pm_form input[type='search'][disabled],
.pm_form input[type='tel'].disabled,
.pm_form input[type='tel'][disabled],
.pm_form select.disabled,
.pm_form select[disabled],
.pm_form textarea.disabled,
.pm_form textarea[disabled] {
  color: var(--medium1);
  border-color: var(--medium1);
  background: var(--light1);
}

.pm_form input[type='text'].success,
.pm_form input[type='number'].success,
.pm_form input[type='password'].success,
.pm_form input[type='email'].success,
.pm_form input[type='search'].success,
.pm_form input[type='tel'].success,
.pm_form select.success,
.pm_form textarea.success {
  color: var(--greenLight);
  border-color: var(--greenLight);
}

.pm_form input[type='text'].error,
.pm_form input[type='number'].error,
.pm_form input[type='password'].error,
.pm_form input[type='email'].error,
.pm_form input[type='search'].error,
.pm_form input[type='tel'].error,
.pm_form select.error,
.pm_form textarea.error {
  color: var(--redLight);
  border-color: var(--redLight);
}

.pm_form input[type='text'].warning,
.pm_form input[type='number'].warning,
.pm_form input[type='password'].warning,
.pm_form input[type='email'].warning,
.pm_form input[type='search'].warning,
.pm_form input[type='tel'].warning,
.pm_form select.warning,
.pm_form textarea.warning {
  color: var(--yellowLight);
  border-color: var(--yellowLight);
}

.pm_panel,
.pm_panel.alt a {
  color: var(--white);
}

.pm_form textarea {
  background: var(--light2);
}

body.light .pm_panel {
  background: var(--white);
  color: var(--dark2);
}

.pm_table table thead {
  border-top: 1px solid var(--theme4);
}

.pm_table table.print em {
  border: 1px solid var(--theme4);
}

.pm_sort ul,
.pm_table table.bordered {
  border: 1px solid var(--theme4);
}

.pm_table table.plain th {
  color: var(--dark2);
}

.pm_table table td .fa.fa-sort,
.pm_table table th .fa.fa-sort {
  color: var(--medium1);
}

.pm_table table th {
  background: var(--theme3);
  border-bottom: 1px solid var(--theme4);
  color: var(--theme5);
}

.pm_table table th a {
  color: var(--theme1);
}

.pm_table table th .fa {
  color: var(--theme1);
}

.pm_table table td {
  border-bottom: 1px solid var(--theme4);
  color: var(--dark2);
}

.pm_table table tr.hasTable table {
  background-color: var(--white);
}

.pm_table table tr.disabled td {
  color: var(--medium2);
}

.pm_toggle {
  background: var(--light4);
  box-shadow: 0 0 0 1px var(--theme4);
}

.pm_toggle span.knob {
  background: var(--white);
  border: 1px solid var(--theme4);
}

.pm_toggle.off .off,
.pm_toggle.on .on {
  background-color: var(--theme1) !important;
  color: var(--white);
}

.pm_tabs {
  border-right: 1px solid var(--theme4);
}

.pm_tabs li a {
  background-color: var(--light2);
}

.pm_tabs li.active a {
  background-color: var(--white);
  color: var(--theme1);
}

.pm_sort ul li {
  border-bottom: 1px solid var(--theme4);
  background: var(--white);
}

.pm_sort ul li.highlight {
  background-color: var(--theme3);
}

.pm_sort ul li .fa.fa-ellipsis-v {
  color: var(--medium1);
}

.as-sortable-dragging .fa-check,
.pm_sort ul li .fa.fa-check {
  color: var(--theme1);
}

.pm_sort ul li .fa.fa-check {
  background: var(--white);
}

.as-sortable-placeholder {
  background: var(--theme4) !important;
}

.as-sortable-dragging {
  border: 1px solid var(--theme4);
  background: var(--white);
}

.image.loading:after,
.loader em {
  border-left: 0.5em solid var(--theme7);
}

.as-sortable-dragging .fa-check {
  background: var(--white);
}

.as-sortable-dragging .fa-ellipsis-v {
  color: var(--medium1);
}

#pm_loader.full {
  background: var(--white);
}

#pm_slow,
#pm_slow2 {
  color: var(--white);
}

#pm_loading {
  background: var(--white);
}

.image.loading:after {
  background: var(--white);
}

input[type='range'].pm_range::-webkit-slider-runnable-track {
  background: var(--theme4);
}

input[type='range'].pm_range::-webkit-slider-thumb {
  background: var(--theme1);
}

input[type='range'].pm_range:focus::-webkit-slider-runnable-track {
  background: var(--theme4);
}

input[type='range'].pm_range::-moz-range-track {
  background: var(--theme1);
}

input[type='range'].pm_range::-moz-range-thumb {
  background: var(--theme1);
}

input[type='range'].pm_range::-ms-track {
  background: var(--theme1);
}

input[type='range'].pm_range::-ms-fill-lower {
  background: var(--theme4);
}

input[type='range'].pm_range::-ms-fill-upper {
  background: var(--theme1);
}

input[type='range'].pm_range::-ms-thumb {
  background: var(--theme1);
}

input[type='range'].pm_range:focus::-ms-fill-lower {
  background: var(--theme4);
}

input[type='range'].pm_range:focus::-ms-fill-upper {
  background: var(--theme1);
}

.pm_badge,
.pm_tag {
  background: var(--medium1);
}

.pm_tag {
  color: var(--dark4) !important;
}

.pm_badge {
  color: var(--white);
}

.pm_badge.default {
  color: var(--dark2);
}

.pm_badge.primary {
  background-color: var(--theme1);
}

.pm_badge.success {
  background-color: var(--green);
}

.pm_badge.error {
  background-color: var(--red);
}

.pm_badge.warning {
  background-color: var(--yellowLight);
}
