body {
  margin: 1cm 0;
  padding: 0;
  font-family: sans-serif;
}
.app.container {
  width: 100%;
  max-width: 630px;
}
.app .row {
  margin-bottom: 1rem;
}
.app .display-4 {
  font-size: 3rem;
  margin-bottom: 0.5em;
}
.loaded .hide-when-loaded {
  display: none;
}
